.mybutton{
    background-color: rgb(49, 129, 49) !important;
    border-color: rgb(45, 119, 45) !important;
}
.mybutton_space{
    width: 0%;
}

.herramienta{
    color: black;
}

.down_arrow{
    color: black !important;
}

/*quede en cambiar la flecha a negro*/

.bg-ig{
    background-color: rgb(224, 224, 224);
}

.post-ig{
    padding: 2%;
}

.img-fluid{
    max-height: 800px !important;
    max-width: 100% !important;
}

span{
    padding: 10px;
    color: rgb(134, 134, 134);
    text-align: left;
}
p{
    color: black;
}

.likes-post,.comment-post, .share-post, .save-post{
    color: black !important;
    border: none !important;
}

.comentario-post{
    float: left !important;
}

.card-img-top{
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
}